<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>log in</title>
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="login-box">
      <img class= "avatar" src="/images/newLogo2.png" alt="Avatar">
      <h1>Inicia sesion</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username"><br>
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">
        <input type="submit" value="Log In"><br>
        <a href="#">Olvidaste el Password?</a><br>
        <a href="#">No tenes una cuenta?</a>
      </form>
    </div>
  </body>
</html>
