<!DOCTYPE html>
<html>
  <%- include('./partials/head') %> 
  <body>
    <%- include('./partials/headerNavbar') %>
    
    <div class="container-form-create">
        <!-- <table>
            <caption>Listado de Productos</caption>
            <thead>
                <tr>
                    <th><img src="" alt="">IMAGE</th>
                    <th>#ID</th>
                    <th>PRODUCT NAME</th>
                    <th>CATEGORY</th>
                    <th>PRICE</th>
                    <th>BREWER</th>
                    <th>DISCOUNT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>#</th>
                    <th>#</th>
                    <th>#</th>
                    <th>#</th>
                    <th>#</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </tbody>
        </table> -->
    
        <form class="form-create-product" method="POST" enctype="multipart/form-data">  
            
            <div>
                <p>
                    <label for="product_name">Nombre del producto *</label>
                    <input name="product_name" class="create-input" type="text">
                </p>
    
                <p>
                    <label for="image">Imagen *</label>
                    <input name="image" class="create-input" type="file">
                </p>
    
                <p>
                    <label for="category">Categoria *</label>
                    <select name="category" id="category">
                        <option value="Cerveza selected">Cerveza</option>
                        <option value="Vino">Vino</option>
                        <option value="Whisky">Whisky</option>
                    </select>
                </p>
    
                <p>
                    <label for="style">Estilo</label>
                    <input name="style" class="create-input" type="text">   
                </p>  
    
                <p>
                    <label for="volumen">Volumen *</label>
                    <input name="volumen" class="create-input" type="text"> 
                </p>  
    
                <p>
                    <label for="origin">Origen</label>
                    <input name="origin" class="create-input" type="text">
                </p>
                
                <p>
                    <label for="brewer">Marca *</label>
                    <input name="brewer" class="create-input" type="text">
                </p>
    
                <p>
                    <label for="price">Precio *</label>
                    <input name="price" class="create-input" type="text">
                </p>
    
                <p>
                    <label for="discount">Descuento</label>
                    <input name="discount" class="create-input" type="text">
                </p>
    
                <p>
                    <label for="description">Descripcion</label>
                    <textarea name="description" id="description-form" cols="38" rows="10"></textarea>
                </p>
            </div>

            <button class="btn-product-submit" type="submit">Crear producto</button>

        </form>
    </div>

    <%- include('./partials/footer') %> 
  </body>
</html>
