<%- include ('./partials/head', {title: 'Registro'}) %>

<body>
<div class="center">
        <%- include ('./partials/header') %>

        <main>
        <div class="contenidoR">
            <div class="genteR">
                <img class="hombreR" src="/image/hombre.svg" alt="genteRegister">
                <img class="mujerR" src="/image/mujer.svg" alt="genteRegister">
            </div>
            <div class="formR">
                <form >
                    <h2 class="info">Sobre vos</h2>
                    <input class="camposForm" type="text" name="register" placeholder="Nombre"><br>
                    <input class="camposForm" type="text" name="register" placeholder="Apellido"><br>
                    <input class="camposForm" type="date" name="register"><br> 
                    <input class="camposForm" type="email" name="register" placeholder="E-mail"><br>
                    <input class="camposForm" type="password" name="register" placeholder="Clave"><br>
                    <input class="camposForm" type="password" name="register" placeholder="Confirmá tu clave"><br>
                <div class="botones">
                    <input class="boton" type="checkbox" name="terminos" value="terminos"><label class="terminos" name="terminos">Acepto los Términos y Condiciones</label><br>
                    <button class="boton camposForm" type="submit" name="register" id="register"><strong>Continuar</strong></button>
                </div>
            </form>
            </div>
        </div>
        </main>
    </div>
    <%- include ('./partials/footer') %>

</body>
</html>