<!DOCTYPE html>
<html>
  <%- include('../partials/head') %> 
  <body>
  <%- include('../partials/headerNavbar') %> 

    <aside class="admin-navbar">
      <img src="" alt=""> Foto
      <p>nombre admin</p>

      <ul>
        <li>PERFIL ADMIN</li>
        <li>TABLAS
          <ul>
            <li>USUARIOS</li>
            <li>PRODUCTOS</li>
            <li>VENTAS</li>
            <li>DEVOLUCIONES</li>
          </ul>
        </li>
        <li>ESTADISTICAS</li>
      </ul>


      <a href="">Log Out</a>
    </aside>
    
   <%- include('../partials/footer') %>
  </body>
</html>