<!DOCTYPE html>
<html>
  <%- include('../partials/head') %> 
  <body>
  <%- include('../partials/headerNavbar') %> 
  <main>
    <h2>Contacto</h2>
    <div class="ofert container-flex">


    </div>
    
   </main>
   <%- include('../partials/footer') %>
  </body>
</html>
