<!DOCTYPE html>
<html>
  <%- include('../partials/head') %> 
  <body>
    <%- include('../partials/headerNavbar') %> 
    <div id="wrapper" >
      <div>
        <h1 class="logo-text"><span>Lupulo</span>polis</h1>
        <h2>A World of Beers.</h2>
      </div>
      <form action="/" method="POST">
        <input type="radio" id="login" name="action" value="login" checked>
        <input type="radio" id="register" name="action" value="register">
        <input type="radio" id="reset" name="action" value="reset">
        <div id="inputs">
          <div>
            <input type="text" placeholder="email" autofocus>
            <div>
              <input type="password" placeholder="password">
                <div>
                  <input type="submit" value="login">
                </div>
            </div>
          </div>
        </div>
        <div id="labels">
          <label for="reset">Password lost? <span>Reset</span></label>
          <label for="register">Not registered? <span>Create an account</span></label>
        </div>
      </form>
    </div>
    <%- include('../partials/footer') %> 
  </body>
</html>
