<!DOCTYPE html>
<html>
  <%- include('../partials/head') %> 
  <body>
    <%- include('../partials/headerNavbar') %> 
    <div id="wrapper" >
      <div>
        <h1 class="logo-text"><span>Lupulo</span>polis</h1>
        <h2>A World of Beers.</h2>
      </div>
      <form action="/users/login" method="POST">
        <% if(typeof errors !== 'undefined') {%>
          <ul>
            <% for(error of errors) {%>
              <li><%= error.msg %></li>
            <% } %> 
          </ul>
        <% } %> 
        <div id="inputs">
          <div>
            <input name="email" class="email" type="text" placeholder="email" value="">
            <small class="emailError invisible"> Campo email es obligatorio </small>
            <div>
              <input name="password" class="passwordLogin" type="password" placeholder="password">
              <small class="passwordError invisible"> Campo password es obligatorio </small>
                <div>
                  <input type="submit" value="login">
                </div>
            </div>
          </div>
        </div>
        <p></p>
        <div class="remember-form">
          <label for="remember">Recordarme</label>
          <input name="remember" type="checkbox" value="true">
        </div>
        <p></p>
        <div id="labels">
          <label for="reset">Password lost? <span>Reset</span></label>
          <label for="register">Not registered? <a href="/users/register"><span>Create an account</span></a></label>
        </div>
      </form>
    </div>
    <%- include('../partials/footer') %> 
  </body>
</html>
